.calltoaction * {
  text-align: center; }

.calltoaction {
  padding: 50px 0;
  color: #999; }

.calltoaction h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 5px; }

.calltoaction-decription {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 20px;
  color: #fff; }

.calltoaction-btn {
  text-align: center; }

.calltoaction-btn > .btn {
  background: rgba(255, 255, 255, 0.8);
  color: #111;
  margin-top: 5px;
  margin-bottom: 5px; }

.calltoaction-btn > .btn:hover {
  background: #fff; }
