@import '../../../scss/customer/_variables.scss';

.do {
	color: $white;
	outline: solid 1px $white;
	&-info {
		margin: {
			top: 100px;
			bottom: 100px;
		}
	}
	&-art {
		height: 100%;
		text-align: center;
		background: rgba(255,255,255,0.1);
		border: solid 1px $white;
		border-radius: $border-radius;
		&__logo {
			font: {
				weight: 700;
				size: 22px;
			}
		}
	}
}
