body {
  background: url(assets/img/intro/cover.jpg);
  background-color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0; }

.wrap {
  min-height: 100vh; }

.container, .container-fluid {
  outline: solid 1px black; }
